html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

header {
  height: 37px; }
  header nav {
    width: 100%;
    height: 12px;
    padding: 7px; }
    header nav a {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 18.96686%;
      color: #818181; }
      header nav a:last-child {
        margin-right: 0; }
      header nav a:nth-of-type(1) {
        margin-right: 27px;
        margin-left: 8.5298%; }
    header nav:hover {
      color: #519251; }

.splash_screen {
  width: 100%;
  height: 207px;
  background-image: url(../background.jpg); }
  .splash_screen h1 {
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 61px;
    color: #fff;
    text-align: center; }

section {
  margin-top: 35px;
  height: 574px; }

.greenblock {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
  margin-left: 4.2649%;
  height: 223px;
  background: #519251; }
  .greenblock:last-child {
    margin-right: 0; }

.blueblock {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
  margin-left: 4.2649%;
  height: 223px;
  background: #2C4985; }
  .blueblock:last-child {
    margin-right: 0; }

.blackblock {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
  margin-left: 4.2649%;
  height: 223px;
  background: #000; }
  .blackblock:last-child {
    margin-right: 0; }

h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 11px;
  margin-bottom: 5px;
  font-weight: normal; }

h3 {
  color: #fff;
  text-align: center;
  font-size: 85px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal; }

h4 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 4px;
  font-size: 20px;
  opacity: .5; }

button {
  width: 100%;
  text-align: center;
  height: 44px;
  background-color: #fff;
  color: #4E5D63;
  border: 1px solid #E2E2E2;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
  margin-left: 4.2649%; }
  button:last-child {
    margin-right: 0; }
  button:hover {
    background: #E2E2E2;
    color: #fff; }

nav .ghostborder {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
  margin-left: 4.2649%;
  height: 85px;
  border: 1px solid #E2E2E2; }
  nav .ghostborder:last-child {
    margin-right: 0; }
  nav .ghostborder button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 27.49666%;
    margin-left: 38.38412%;
    height: 36px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 30px; }
    nav .ghostborder button:last-child {
      margin-right: 0; }

.benefits {
  float: left;
  width: 100%;
  padding-right: 20px;
  padding-left: 35px; }
  .benefits h5 {
    width: 100%;
    margin-top: 79px;
    letter-spacing: 5px;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    font-family: helvetica;
    text-transform: uppercase; }
  .benefits p {
    color: #647076;
    line-height: 135%; }
  .benefits .invisi_margin {
    margin-bottom: 30px; }

footer {
  float: left;
  width: 100%;
  height: 89px;
  background: #000; }
  footer p {
    color: #fff;
    text-align: center;
    margin: 28px 5% auto 5%;
    opacity: .6; }

@media (min-width: 479px) {
  .splash_screen {
    width: 100%; }
    .splash_screen h1 {
      font-size: 50px;
      padding-top: 46px; } }

@media (min-width: 767px) {
  header nav a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    color: #818181; }
    header nav a:last-child {
      margin-right: 0; }
    header nav a:nth-of-type(1) {
      margin-right: 110px;
      margin-left: 4.2649%; } }

@media (min-width: 978px) {
  .splash_screen {
    height: 401px;
    width: 100%;
    padding-top: 83px; } }
